# **Variable**

**A variable is a place (in computer memory) to store values ​​with a certain data type.
To assign a value to a variable, we use the "=" operator between the variable name and the value we want to store**

In [2]:
a = 3

#artinya kita akan menyimpan nilai 3 (type int) ke variable a

# **Print**

**print() function is a direct way of output to the console/screen**

In [7]:
print("How Are You")

How Are You

**inserting variable values ​​into strings. There are several ways to enter variable values**

**directly combine variables in the print() statement**

In [10]:
#-directly combine variables in the print()** statement

print("Nilai variabel a adalah", a)

Nilai variabel a adalah 3

In [13]:
# -To display text (String) we usually use the formatting mechanism

nama = 'Aswinah'

In [14]:
print("Nama saya adalah", nama)

Nama saya adalah Aswinah

**Using the "%" operator appended with "Argument Specialist"**

Some examples of commonly used argument specifiers:
- % - String
- %d - Integers
- %f - Decimal Number

In [15]:
nama = "Siti Aswinah"

In [16]:
type(nama)

str

In [17]:
usia = 20

In [18]:
type(usia)

int

In [20]:
print("Usia %s adalah %d tahun." % (nama, usia))

Usia Siti Aswinah adalah 20 tahun.

# **Input()**

**Untuk memungkinkan user memberikan input pada program
ditamplkan (prompt) dan variabel sebelum tanda sama dengan**

In [21]:
nama = input("Nama saya adalah")

Nama saya adalah Siti Aswinah

**Secara default, input dari user adalah string**

In [22]:
umur = input("usia saya :")

usia saya : 20

In [23]:
type(umur)

str

In [24]:
nama = input("Masukkan nama Anda :")

Masukkan nama Anda : Siti Aswinah

In [25]:
email = input("Masukan alamat email Anda :")

Masukan alamat email Anda : sitiaswinah@gmail.com

In [26]:
telepon = input("Masukan nomor teleon Anda :")

Masukan nomor teleon Anda : 0831511

In [27]:
print("Terima kasih! Berikut adalah informasi yang anda berikan :")
print("Nama :", nama)
print("Email :", email)
print("Nomor Telepon :", telepon)

Terima kasih! Berikut adalah informasi yang anda berikan :
Nama : Siti Aswinah
Email : sitiaswinah@gmail.com
Nomor Telepon : 0831511

In [28]:
usia = int(input("Usia Anda"))

if usia >= 20:
    print("Sudah masuk kuliah")
else usia <20:
    print("belum bisa masuk kuliah")

SyntaxError: expected ':' (1007859937.py, line 5)